.input-block + .input-block {
  margin-top: 20px;
}

.input-block label {
  color: #acacac;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.input-block input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}
