.list-container {
  max-width: 900px;
  margin: 20px auto 0;
  padding: 10px;
}

.list-container header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container header h1 {
  font-size: 21px;
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid #ddd;
}

.list-container ul {
  margin: 30px 0;
  list-style: none;
}

.list-container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header span {
  width: 33%;
  font-weight: 700;
}

.list-container ul li + li {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #eee;
}
