.details-title {
  margin-bottom: 30px;
  text-align: center;
}

.register-info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.container .register-info-group + .register-info-group {
  border-top: solid 1px lightgray;
  padding: 10px;
}

.register-info-group > h4 {
  margin-bottom: 10px;
}
